/.dist
/ADARSH 10.docx
/ADARSH 123.docx
/angular link.txt
/cache
/Custom Office Templates
/desktop.ini
/Downloads
/Fax
/HARI KUMAR RESUME.docx
/MATLAB
/prathap.doc
/raja aadhar.pdf
/rajasekhar - Copy.pdf
/rajasekhar.pdf
/Scanned Documents
/WhatsApp Image 2022-01-09 at 6.41.13 PM.jpeg
/WindowsPowerShell
/Zoom
/My Music
/My Pictures
/My Videos